/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.nav-btn{
  background-color: antiquewhite;
  padding: 0.7rem;
  border-radius: 1rem;
  font-weight: bold;
  margin: 0.5rem;
}

.active{
  border-bottom: 2px solid black;
}

.footer{
  background-color: rgb(57, 56, 56) !important;
}

@media screen and (max-width: 310px) {
  .footer p{
    font-size: 0.86rem;
  }
  .footer h4{
    font-size: 1rem;
  }
}


.footer a{
  text-decoration: none;
  color: white;
  padding: 0.6rem;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 2px solid #ffefba;
}

.card-container {
  position: relative;
  margin-bottom: 20px;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.empty-state p {
  margin-top: 20px;
  font-size: 1.2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 
}

.card {
  width: 14rem;
  height: 10rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.delete-button {
  background-color: #ff6961;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff4136;
}

.custom-button {
  background-color: #4caf50;
  border: none;
  color: white;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.custom-button:hover {
  background-color: #45a049;
}

